body {
  background-color: #fff;
  font-family: Microsoft JhengHei;
  font-size: 75%;
  overflow: hidden;
}

h1{
  font-size: 180%;
  background-color:#000;
  color: white ;
  padding: 10px;
  text-align: center;
}

h2{
  font-size: 120%;
}

@media screen and (max-height: 320px) {
  body {
    font-size: 50%;
  }
}

@media screen and (min-height: 550px) {
  body {
    font-size: 120%;
  }
}

@media screen and (min-height: 1000px) {
  body {
    font-size: 180%;
  }
}

@media screen and (min-height: 1200px) {
  body {
    font-size: 280%;
  }
}

label {
  font-size: 1em;
}

input {
  font-size: 1em;
  width: 60%;
  padding: 12px 20px;
  margin: 5px ;
  display: inline-block;
  border: 1px solid #000;
  box-sizing: border-box;
}

button {
  font-family: Microsoft JhengHei;
  transition-duration: 0.2s;
  background-color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border: 1px solid #000;
  width: 40%;
  height: 10%;
  margin: auto;
  position: relative;
  font-size: 1em;
}

button:hover {
  background-color: pink;
}

button:active {
  background-color: pink;
}

/* Add padding to containers */
.container {
  position: absolute;
  width:80%;
  height:80%;
  top:20%;
  right:0;
  bottom:0;
  left:0;
  margin:auto;
  text-align: center;

}
