#wrapper {
    width: 1000px;
    margin: 0 auto;
}

#banner {
    width: 1000px;
    height: 100px;
    background-color: coral;
    font-size: 50px;
    text-align: center;
    margin: 0px;
    padding-bottom: 50px;
    float: left;
}

#nav {
    width: 200px;
    height: 200px;
    float: left;
}

#nav ul {
    background-color: gold;
    padding: 2px;
    margin: 5px;
}
#nav ul li a {
    text-decoration: none;
}
#content {
    width: 800px;
    background-color: lightcoral;
    float: left;
}

#supporting {
    width: 200px;
    height: 200px;
    background-color: azure;
    float: right;
}

#gallery .img {
    border: 3px solid black;
    height: auto;
    width: 200px;
    /*    讓裡面靠左靠中*/
    text-align: center;
}

#gallery img {
    /*    調圖片長(隨寬) 寬*/
    width: 180px;
    height: auto;
}

#footer {
    width: 100%;
    height: 50px;
    background-color: #00BBFF;
    float: left;
}

.item {
    padding-top: 100px;
    /*    <!--超連結以此主--> */
    margin-top: -100px;
}

 /* Bordered form */
form {
    border: 0px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password],input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
.rb {
    width: 20%;
}

/* Extra style for the cancel button (red) */
.signupbtn {
    width: 100%;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    padding: 16px;
}
