/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 450px;
  height: 100vh;
  margin: 0;  
  //background: radial-gradient(ellipse farthest-corner at center top, #f39264 0%, #f2606f 100%);
  //color: #fff;
  font-family: 'Open Sans', sans-serif;  
}

.leaderboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 285px;
  height: 295px;
  //background: linear-gradient(to bottom, #3a404d, #181c26);
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(62, 9, 11, .3);

  h1 {
    font-size: 18px;
    color: #3a404d;
    padding: 12px 13px 18px;
  }

  ol {
    counter-reset: leaderboard;

    li {
      position: relative;
      z-index: 1;
      font-size: 14px;
      counter-increment: leaderboard;
      padding: 18px 10px 18px 50px;
      cursor: pointer;
      backface-visibility: hidden;
      transform: translateZ(0) scale(1.0, 1.0);

      &::before {
        content: counter(leaderboard);
        position: absolute;
        z-index: 2;
        top: 15px;
        left: 15px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        //color: #3a404d;
        //background: #fff;
        border-style: solid;
        //border-color: #3a404d;
        border-radius: 20px;
        border-width: thin;
        text-align: center;
      }

      mark {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 18px 10px 18px 50px;
        margin: 0;
        background: none;
        //color: #3a404d;

        &::before, &::after {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: -11px;
          left: -9px;
          border-top: 10px solid #181c26;
          border-left: 10px solid transparent;
          transition: all .1s ease-in-out;
          opacity: 0;
        }

        &::after {
          left: auto;
          right: -9px;
          border-left: none;
          border-right: 10px solid transparent;
        }
      }

      small {
        position: relative;
        z-index: 2;
        display: block;
        text-align: right;
      }

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #181c26;
        box-shadow: 0 3px 0 rgba(0, 0, 0, .08);
        // transform: scaleX(1.06) scaleY(1.03);
        transition: all .3s ease-in-out;
        opacity: 0;
      }

      &:nth-child(1) {
        //background: #fa6855;
        &::after {
          background: #3a404d;
        }
      }

      &:nth-child(2) {
        //background: #e0574f;
        &::after {
          background: #3a404d;
          box-shadow: 0 2px 0 rgba(0, 0, 0, .08);
        }

        & mark {
          &::before, &::after {
            border-top: 6px solid #181c26;
            bottom: -7px;
          }
        }
      }

      &:nth-child(3) {
        //background: #d7514d;
        &::after {
          background: #3a404d;
          box-shadow: 0 1px 0 rgba(0, 0, 0, .11);
        }

        & mark {
          &::before, &::after {
            border-top: 2px solid #181c26;
            bottom: -3px;
          }
        }
      }

      &:nth-child(4) {
        //background: #cd4b4b;
        &::after {
          background: #3a404d;
          box-shadow: 0 -1px 0 rgba(0, 0, 0, .15);
        }

        & mark {
          &::before, &::after {
            top: -7px;
            bottom: auto;
            border-top: none;
            border-bottom: 6px solid #181c26;
          }
        }
      }

      &:nth-child(5) {
        //background: #c24448;
        border-radius: 0 0 10px 10px;
        &::after {
          background: #3a404d;
          box-shadow: 0 -2.5px 0 rgba(0, 0, 0, .12);
          border-radius: 0 0 10px 10px;
        }

        & mark {
          &::before, &::after {
            top: -9px;
            bottom: auto;
            border-top: none;
            border-bottom: 8px solid #181c26;
          }
        }
      }

    }

    // hover
    li:hover {
      z-index: 2;
      overflow: visible;

      &::after {
        opacity: 1;
        transform: scaleX(1.06) scaleY(1.03);
      }
      
      &::before {
        //color: #c24448;
        border-style: none;
        background-color: #FFF;
      }

      & mark {
        color: #FFFFFF;
        &::before, &::after {
          opacity: 1;
          transition: all .35s ease-in-out;
        }
      }
      & small {
        color: #FFFFFF;
      }
    }

  }
}