body {
    background-color: #fff;
    font-family: Microsoft JhengHei;
}

h1 {
    text-align: center;
}

@media screen and (max-aspect-ratio:3/4) {
    #game {
        width: 90%;
    }
}

@media screen and (min-aspect-ratio:3/2) {
    #game {
        width: 30%;
    }
}

@media screen and (min-aspect-ratio:3/4) and (max-aspect-ratio:3/2) {
    #game {
        width: 60%;
    }
}

#game {
    height: 90%;
    border-style: solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

button {
    font-family: Microsoft JhengHei;
    transition-duration: 0.5s;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #9999ff;
}

.game_choose {
    position: absolute;
    height: 8%;
    top: 0;
    padding: 5px;
}

.menuBtn {
    font-size: 15px;
    border: none;
    z-index: -1;
}

.scene_choose {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 40%;
    padding: 5px;
}

.sceneBtn {
    font-size: 18px;
    color: black;
    border: 2px solid #000;
    width: 32%;
    height: 100%;
    z-index: -1;
}

.player {
    position: absolute;
    width: 40%;
    top: 25%;
    left: 5%;
    padding: 5px;
    font-size: 18px;
}

.item {
    border-style: solid;
    position: absolute;
    width: 40%;
    height: 30%;
    top: 6%;
    left: 50%;
    padding: 5px;
    font-size: 18px;
}

.box {
    position: relative;
    border-style: solid;
    border-radius: 20px;
    height: 30%;
}

.mission {
    width: 96%;
    height: 48%;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: auto;
    padding: 5px;
    overflow-y: scroll;
}

.missionText {
    font-size: 20px;
    text-align: center;
    width: 60%;
    height: 100%;
    padding: 5px;
    top: 5px;
    margin: auto;
    transform: translateY(10%);
    float: left;
}

.missionBtn {
    border-style: solid;
    border-radius: 20px;
    font-size: 18px;
    color: black;
    border: 1px solid #000;
    width: 30%;
    height: 85%;
    margin: 5px;
    z-index: -1;
    float: right;
}

.progress {
    position: absolute;
    border-radius: 20px;
    width: 66%;
    height: 15%;
    margin: 5px;
    bottom: 5px;
    background-color: #aaa;
}

.bar {
    border-radius: 20px;
    width: 36%;
    height: 100%;
    background-color: #000;
}


/*Scroll bar style: Work for Chrome*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}