body {
    background-color: #fff;
    font-family: Microsoft JhengHei;
}

h1 {
    text-align: center;
}

h5 {
    font-size: 20px;
    text-align: center;
}

p {
    font-size: 20px;
}

@media screen and (max-aspect-ratio:3/4) {
    #game {
        width: 90%;
    }
}

@media screen and (min-aspect-ratio:3/2) {
    #game {
        width: 30%;
    }
}

@media screen and (min-aspect-ratio:3/4) and (max-aspect-ratio:3/2) {
    #game {
        width: 60%;
    }
}

#game {
    height: 90%;
    border-style: solid;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

#progress {
    width: 100%;
    height: 25px;
    background-color: #aaa;
}

#bar {
    width: 60%;
    height: 25px;
    background-color: #000;
}

button {
    font-family: Microsoft JhengHei;
    transition-duration: 0.5s;
    background-color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover {
    background-color: #9999ff;
}

div.game_choose {
    position: absolute;
    height: 8%;
    top: 0;
    padding: 5px;
}

button.menuBtn {
    font-size: 15px;
    border: none;
    z-index: -1;
}

div.scene_choose {
    position: absolute;
    width: 100%;
    height: 8%;
    top: 40%;
    padding: 5px;
}

button.sceneBtn {
    font-size: 18px;
    color: black;
    border: 2px solid #000;
    width: 32%;
    height: 100%;
    z-index: -1;
}

.player {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 6%;
    left: 5%;
    padding: 5px;
    font-size: 18px;
}

.item {
    border-style: solid;
    position: absolute;
    width: 40%;
    height: 30%;
    top: 6%;
    left: 50%;
    padding: 5px;
    font-size: 18px;
}

div.box {
    border-style: solid;
    border-radius: 20px;
}

div.mission {
    width: 96%;
    height: 48%;
    position: absolute;
    top: 50%;
    bottom: 0;
    margin: auto;
    padding: 5px;
    overflow-y: scroll;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
    font-size: 60px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        font-size: 30px;
    }
}


/*Scroll bar style: Work for Chrome*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}